<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ML API GAUSS</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'><title></title>
</head>
<body style="background-color:powderblue;">

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>
</html>